<?xml version="1.0" encoding="UTF-8"?>

<Context>
  <FrontEndEndpoint>tcp://$ServerIP:$SubPort</FrontEndEndpoint> <!--   SUB -->
  <BackendEndpoint>tcp://$ServerIP:$PubPort</BackendEndpoint>   <!--   PUB -->
  <FrontBind>tcp://*:$PubPort</FrontBind> 
  <BackendBind>tcp://*:$SubPort</BackendBind>  
  <TaskLogName>$ContextName</TaskLogName>
 
  <TaskService id='$TaskID' topic='process' instance='$ServiceType' serviceType='Process'>
    <Task>
      <description>
	$TaskDescription
      </description>
      
      <message>
	<header>
	  <action>start</action>
	  <service_name>$ServiceName</service_name>
	</header>

	<content>
	  <configuration>
	    <device_action>$DeviceAction</device_action>
	  </configuration>
	</content>
      </message>
      
      <state type="$EntryAction">
	<$Trigger1>
	  <action>$Action1</action>
	  <call>$State1</call>
	</$Trigger1>
	
	<$Trigger2>
	  <action>$Action2</action>
	  <call>$State2</call>
	</$Trigger2>
	
	<$Trigger3>
	  <action>$Action3</action>
	  <call>$State3</call>
	</$Trigger3>
	
	<$Trigger4>
	  <action>$Action4</action>
	  <call>$State4</call>
	</$Trigger4>
      </state>

    </Task>
  </TaskService>
  
</Context>